*.o
philo_one/*.o
philo_two/*.o
philo_two/*.o
cmake-build-debug
philo_one/cmake-build-debug
philo_two/cmake-build-debug
CMakeLists.txt
philo_one/CMakeLists.txt
philo_two/CMakeLists.txt
.*
philo_one/.*
philo_two/.*
philo_one/a.out
philo_two/a.out
philo_one/philo_one
philo_two/philo_two
